body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    transition: background-color 0.3s;
}

.container {
    background: white;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 100%;
    transition: background-color 0.3s, color 0.3s;
}

h1 {
    text-align: center;
    color: #333;
}

/* Στυλ για τη φόρμα εισαγωγής νέας εργασίας */
form {
    display: flex;
    justify-content: space-between;
}

input[type="text"] {
    flex: 1;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
    margin-right: 10px;
}

button {
    padding: 10px 20px;
    background-color: #28a745;
    border: none;
    color: white;
    border-radius: 3px;
    cursor: pointer;
}

button:hover {
    background-color: #218838;
}

/* Στυλ για τα φίλτρα */
.filters {
    display: flex;
    justify-content: space-between;
    margin: 10px 0;
}

.filters button {
    background-color: #007bff;
    border: none;
    color: white;
    border-radius: 3px;
    padding: 5px 10px;
    cursor: pointer;
}

.filters button:hover {
    background-color: #0056b3;
}

/* Στυλ για τη λίστα εργασιών */
ul {
    list-style-type: none;
    padding: 0;
}

li {
    padding: 10px;
    background-color: #bbb7b7;
    border: 1px solid #ddd;
    border-radius: 3px;
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

li.completed {
    text-decoration: line-through;
    color: #888;
}

li button {
    background-color: #dc3545;
    border: none;
    color: white;
    border-radius: 3px;
    padding: 5px 10px;
    cursor: pointer;
}

li button:hover {
    background-color: #c82333;
}

/* Dark mode */
body.dark-mode {
    background-color: #333;
}

.container.dark-mode {
    background: #444;
    color: #eee;
}

button.dark-mode {
    background-color: #007bff;
}

button.dark-mode:hover {
    background-color: #0056b3;
}